body{
  background-color: rgb(128, 88, 14);
}

#demo {
  border-collapse:collapse;
}
#demo tr:nth-child(odd) {
  background: #ffffff;
}
#demo td {
  padding: 12px;
}

td, th{
  border: 2px solid black;
  padding: 5px 5px 5px 1px;
}

td{
  font-weight: bolder;
  color: #000000;
}

tr:nth-child(even){
  background-color: #b8c1c1;
}

table{
  border: 4px solid black;
}

.brandName{
  font-size: 55px;
  font-family:'Times New Roman', Times, serif, bold; 
}