<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="refresh" content="3" /> 
    <title>Montanskopi</title>
    <link rel="stylesheet" href="static/S3_users.css"/>
  </head>
  <body>
    <center>
      <h1 class="brandName">MONTANSKOPI</h1>
      <table id="demo" style="width:100%">
        <tr>
          <th>Grade 1</th>
          <th>Grade 2</th>
          <th>Grade 3</th>
          <th>Date</th>
          <th>Time</th>
        </tr>
        
        {% for u in usr %}
        
        <tr>
          <td>{{ u[0] }}</td>
          <td>{{ u[1] }}</td>
          <td>{{ u[2] }}</td>
          <td>{{ u[3] }}</td>
          <td>{{ u[4] }}</td>
        </tr>

        {% endfor %}
      </table>
    </center>
  </body>
</html>